# latex zeug

*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.lof
*.lot
*.toc
*.synctex.gz
*.syntex*
*.blg
*.lof
*.bbl
*.bcf
*.run.xml

# pdf Dateien

Plasmakristall.pdf
main.pdf

# R zeug
.Rhistory
.RData
.Rproj.user
.Rproj


\end{verbatim}